USE [master]
GO
/****** Object:  Database [Kunstenboetiek]    Script Date: 4/01/2017 14:54:06 ******/
CREATE DATABASE [Kunstenboetiek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kunstenboetiek', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Kunstenboetiek.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Kunstenboetiek_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Kunstenboetiek_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kunstenboetiek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kunstenboetiek]
GO
/****** Object:  Table [dbo].[Artikels]    Script Date: 4/01/2017 14:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artikels](
	[ArtikelNr] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [varchar](100) NOT NULL,
	[Prijs] [float] NOT NULL,
	[Soort] [varchar](13) NULL,
	[Kleur] [varchar](50) NULL,
	[Verkocht] [bit] NULL,
 CONSTRAINT [PK_Artikels] PRIMARY KEY CLUSTERED 
(
	[ArtikelNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArtikelsAfbeeldingen]    Script Date: 4/01/2017 14:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArtikelsAfbeeldingen](
	[AfbeeldingNr] [int] IDENTITY(1,1) NOT NULL,
	[ArtikelNr] [int] NOT NULL,
	[AfbeeldingLink] [varchar](254) NOT NULL,
 CONSTRAINT [PK_ArtikelsAfbeeldingen] PRIMARY KEY CLUSTERED 
(
	[AfbeeldingNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Facturen]    Script Date: 4/01/2017 14:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facturen](
	[FactuurNr] [int] IDENTITY(1,1) NOT NULL,
	[KlantNr] [int] NOT NULL,
	[Datum] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Facturen] PRIMARY KEY CLUSTERED 
(
	[FactuurNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactuurRegels]    Script Date: 4/01/2017 14:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactuurRegels](
	[RegelNr] [int] IDENTITY(1,1) NOT NULL,
	[FactuurNr] [int] NOT NULL,
	[ArtikelNr] [int] NOT NULL,
 CONSTRAINT [PK_FactuurRegels] PRIMARY KEY CLUSTERED 
(
	[RegelNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Klanten]    Script Date: 4/01/2017 14:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Klanten](
	[KlantNr] [int] IDENTITY(1,1) NOT NULL,
	[Voornaam] [varchar](50) NULL,
	[Familienaam] [varchar](50) NULL,
	[Straat] [varchar](50) NULL,
	[HuisNr] [varchar](10) NULL,
	[Postcode] [varchar](15) NULL,
	[Gemeente] [varchar](50) NULL,
	[Land] [varchar](20) NULL,
	[Email] [varchar](254) NULL,
	[Telefoon] [varchar](30) NULL,
	[BtwNr] [varchar](17) NULL,
 CONSTRAINT [PK_Klanten] PRIMARY KEY CLUSTERED 
(
	[KlantNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ArtikelsAfbeeldingen]  WITH CHECK ADD  CONSTRAINT [FK_ArtikelsAfbeeldingen_Artikels] FOREIGN KEY([ArtikelNr])
REFERENCES [dbo].[Artikels] ([ArtikelNr])
GO
ALTER TABLE [dbo].[ArtikelsAfbeeldingen] CHECK CONSTRAINT [FK_ArtikelsAfbeeldingen_Artikels]
GO
ALTER TABLE [dbo].[Facturen]  WITH CHECK ADD  CONSTRAINT [FK_Facturen_Klanten] FOREIGN KEY([KlantNr])
REFERENCES [dbo].[Klanten] ([KlantNr])
GO
ALTER TABLE [dbo].[Facturen] CHECK CONSTRAINT [FK_Facturen_Klanten]
GO
ALTER TABLE [dbo].[FactuurRegels]  WITH CHECK ADD  CONSTRAINT [FK_FactuurRegels_Artikels] FOREIGN KEY([ArtikelNr])
REFERENCES [dbo].[Artikels] ([ArtikelNr])
GO
ALTER TABLE [dbo].[FactuurRegels] CHECK CONSTRAINT [FK_FactuurRegels_Artikels]
GO
ALTER TABLE [dbo].[FactuurRegels]  WITH CHECK ADD  CONSTRAINT [FK_FactuurRegels_Facturen] FOREIGN KEY([FactuurNr])
REFERENCES [dbo].[Facturen] ([FactuurNr])
GO
ALTER TABLE [dbo].[FactuurRegels] CHECK CONSTRAINT [FK_FactuurRegels_Facturen]
GO
USE [master]
GO
