body {
	background-color: rgb(233,232,227);
	min-width: 500px;
}

aside.images {
	width: 50%;
	float: left;
}

aside.images img {
	width: 98%;
	margin: 1%;
}

article.tekst {
	width: 45%;
	margin-left: 52%;
	font-family: helvetica, sans-serif;
}