@{
    ViewBag.Title = "Home Page";
}


<h2>Welkom</h2>

<p>Altijd al heeft de mens kunstwerken gemaakt. Ze geven een meerwaarde aan het leven. Creatief zijn is ook voor mij een drijfveer. Ik maak mijn beelden in klei en zoek mijn inspiratie in de natuur.</p>
<p>Uit deze werken is mijn 'kunstenboetiek' ontstaan. Hierin bied ik mijn creaties aan omdat het voor mij belangrijk is deze gave te kunnen delen met anderen.</p>
<p>Mijn oeuvre bevat sculpturen met een karakteristieke vormgeving. ze hebben een uitgesproken expressiviteit met dikwijls een poëtische inslag. Er zijn de decoratieve werken voor zowel binnen als buiten.</p>
<p>Een belangrijke kunstvorm waarop ik mij toeleg zijn de unieke urnen. Deze zijn steeds héél persoonlijk, met een diepere betekenis, gebaseerd op het leven van de overledene. Ook voor dieren maak ik gepaste urnen naar wens van het baasje.</p>
