
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<p>Urnen kunnen besteld worden via mail of gsm. Ook via de volgende begrafenisondernemers worden mijn urnen aangeboden:</p>

<p>
    Van Dael<br />
    www.van-dael.be
</p>
<p>
    Uitvaartcentrum 'De Singel'<br />
    uitvaart@wasebegrafenissen.be<br />
    Singel 13<br />
    9100 St-Niklaas
</p>

<p>Sculpturen en keramische beelden kan men steeds in mijn atelier bekijken na afspraak.</p>

<p>
    Canadalaan 9<br />
    9140 Temse<br />
    0486 34 87 86
</p> 