aside.images {
	width: 420px;
	float: left;
}

aside img {
	width: 410px;
	margin: 5px;
	float: left;
}

article.tekst {
	width: 365px;
	margin: 10px;
	margin-left: 430px;
}

article.tekst p{
	margin-bottom: 5px;
}

article.tekst p#prijs{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-right: 30px;
	margin-bottom: 25px;
	font-size: 1.2em;
	font-weight: bold;
}


article.tekst h1{
	margin-bottom: 10px;
}