@media screen and (max-width: 1100px) {
    header nav ul li:nth-child(8) {
        position: absolute;
        bottom: 20px;
        left: 867px;
    }
}

@media screen and (max-width: 1010px) {
    header nav ul li:nth-child(7) {
        position: absolute;
        bottom: 20px;
        left: 667px;
    }

    header nav ul li:nth-child(8) {
        position: absolute;
        bottom: 20px;
        left: 767px;
    }
}

@media screen and (max-width: 938px) {
    header {
        overflow: unset;
        margin-bottom: 100px;
        height: 50px;
    }


            header a h1 {
                position:relative;
                top: 18px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
                font-size: 4em;
                width: 270px;
            }

            header a img {
                display: none;
            }

        header nav {
            height: 60px;
            background-color: #787c57;
            position: relative;
            top: 30px;
            padding: 0;
            margin: 0;
            cursor: pointer;
            cursor: hand;
        }

    #hideButtonTop {
        position: static;
        display: block;
        width: 40px;
        margin: 0 auto;
        padding-top: 10px;
    }

    header nav ul li:nth-child(7) {
        position: relative;
        bottom: unset;
        left: unset;
    }

    header nav ul li:nth-child(8) {
        position: relative;
        bottom: unset;
        left: unset;
    }

    header nav ul {
        position: relative;
        top: 5px;
        bottom: unset;
        width: 100%;
        padding: 0;
        margin: 0;
    }

        header nav ul li {
            height: unset;
            float: none;
            width: 100%;
            padding: 0;
            margin: 0;
            position: relative;
            right: 10px;
        }

            header nav ul li:first-child {
                margin: 0;
                padding: 0;
            }

                header nav ul li:first-child a {
                    margin-top: 5px;
                }

            header nav ul li a {
                display: inline-block;
                width: 99%;
                padding: 6px 1%;
                margin-bottom: 5px;
                text-align: center;
                font-size: 2.5em;
                position: relative;
            }

    .slideshow-container {
        display: none;
    }
    #content article h2 {
        font-size: 2.7em;
        margin-bottom: 35px;
    }
    #content article {
        font-size: 1.3em;
    }
    #content article p {
        margin-bottom: 22px;
        line-height: 1.2;
    }

    #content ul li {
        width: 46%;
    }
     #content ul li span {
         font-size: .8em;
     }

    #content form {
        width: 100%;
        height: 700px;
    }

        #content form div {
            height: 50px;
        }
            
            #content form div label {
                display: block;
                vertical-align: top;
                margin-bottom: 5px;
                margin-top: 45px;
            }

            #content form div input {
                height: 35px;
                font-size: 1.2em;
            }

            #content form div:first-child {
                float: none;
                margin-right: 0px;
                z-index: 1;
            }


            #content form div:nth-child(1) input {
                width: 55%;
            }

            #content form div:nth-child(2) input {
                width: 55%;
            }

            #content form div:nth-child(3) input {
                width: 60%;
            }

            #content form div:nth-child(4) input {
                width: 60%;
            }

            #content form div:nth-child(5) input {
                width: 80%;
            }

            #content form div:nth-child(6) textarea {
                width: 100%;
                height: 150px;
            }

        #content form input.button {
            bottom: 0px;
            right: -6px;
        }

    .hidden {
        height: 0px;
        overflow: hidden;
            -webkit-transition: height 0.25s linear;
       -moz-transition: height 0.25s linear;
        -ms-transition: height 0.25s linear;
         -o-transition: height 0.25s linear;
            transition: height 0.25s linear;
    }

    .open {
        height: 461px;
        overflow: hidden;
        -webkit-transition: height 0.25s linear;
        -moz-transition: height 0.25s linear;
         -ms-transition: height 0.25s linear;
          -o-transition: height 0.25s linear;
             transition: height 0.25s linear;
    }

    #content.marginTop {
        margin-top: 570px;
                    -webkit-transition: margin-top 0.25s linear;
       -moz-transition: margin-top 0.25s linear;
        -ms-transition: margin-top 0.25s linear;
         -o-transition: margin-top 0.25s linear;
            transition: margin-top 0.25s linear;
    }

    #content {
        margin-top: 120px;
                -webkit-transition: margin-top 0.25s linear;
        -moz-transition: margin-top 0.25s linear;
         -ms-transition: margin-top 0.25s linear;
          -o-transition: margin-top 0.25s linear;
             transition: margin-top 0.25s linear;
    }
    footer {
        padding: 20px 6%;
}
    footer section p img {
        display: inline-block;
        float: left;
        width: 15%;
        margin-right: 20px;
    }
    footer section p {
        font-size: 0.9em;
    }
    footer section {
        float: none;
        width: 95%;
    }
    footer section:last-child {
        clear: left;
    }
    footer section:last-child p {
    text-align: center;
    font-size: 0.6em;
}
    .field-validation-error {
    top: 68px;
    left: 0px;
    font-size: 0.9em;
}
    #content form div:nth-child(6) .field-validation-error {
        top: 185px;
    }
}

@media screen and (max-width: 725px) {

    #content ul li {
        width: 100%;
        margin-bottom: 40px;
    }

        #content ul li span {
            width: 90px;
            height: 90px;
            border-radius: 50px;
            font-size: 1.3em;
            line-height: 3.4;
            top: -30px;
            right: -30px;
        }
    #content form div:nth-child(6) textarea {
        width: 100%;
    }

    #content form div:nth-child(1) input {
        width: 80%;
    }

    #content form div:nth-child(2) input {
        width: 80%;
    }
    #content form div:nth-child(3) input {
        width: 90%;
    }

    #content form div:nth-child(4) input {
        width: 90%;
    }
        #content form div:nth-child(5) input {
        width: 100%;
    }
            footer section p {
        font-size: 0.8em;
    }
                footer section p img {
                    width: 20%;
                }
}
