body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #edeed8;
}

.wrapper {
    max-width: 1100px;
    min-width: 503px;
    margin: 0 auto;
    position: relative;
}

/*header*/
header {
    overflow: auto;
}

    header a {
        color: #575b4f;
        text-decoration: none;
    }

        /*header logo*/
        header a img {
            float: left;
            margin: 10px;
        }

        header a h1 {
            font-family: 'Pompiere', cursive;
            font-weight: 400;
            font-size: 5em;
            color: #575b4f;
            text-decoration: none;
            position: relative;
            top: 50px;
            right: 0px;
            width: 530px;
        }

    /*header nav*/
    header nav {
        z-index: 1;
        position: relative;
        top: 90px;
    }
        header nav ul li {
            float: left;
            padding: 5px;
            background-color: #787c57;
        }

            header nav ul li a {
                -moz-transition: all .1s ease-in;
                -o-transition: all .1s ease-in;
                -webkit-transition: all .1s ease-in;
                transition: all .1s ease-in;
                padding: 10px 23px;
                font-size: 1.34em;
                background-color: #b6b357;
                font-family: 'Pompiere', cursive;
            }

                header nav ul li a:hover {
                    color: #edeed8;
                }

                header nav ul li a.selected {
                    color: #edeed8;
                }
.hideButton {
    display: none;
}

/*content*/
#content {
    clear: left;
    margin-top: 0;
}

    #content a {
        color: black;
        margin-top: 0;
    }

    /*content article*/
    #content article {
        background-color: white;
        padding: 35px 12%;
        width: 76%;
        border: 0px solid white;
        margin-top: 15px;
        overflow: auto;
        min-height: 450px;
        border-radius: 15px;
    }

    #content article:last-child {
        border-radius: 15px 15px 0 0;
    }

        #content article h2 {
            font-size: 2.5em;
            font-family: 'Pompiere', cursive;
            margin-bottom: 25px;
        }

        #content article p {
            margin-bottom: 12px;
            line-height: 1.1;
            font-size: 1em;
        }

        #content article a:visited {
            color: black;
        }

        #content article a:hover {
            color: black;
        }

/*content banner*/
.slideshow-container {
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev, .next {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slideshow-container:hover .prev, .slideshow-container:hover .next {
    display: block;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

#content #newArticles {
    padding: 0;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 15px;
}

#content #newArticles h2 {
    margin-bottom: 14px;
}

    #content #newArticles img {
        height: 100%;
        float: left;
    }

    #content #newArticles section {
        position: relative;
        left: 20px;
        width: 90%;
        margin-top: 20px;
    }

    #content #newArticles #prijs {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 1.2em;
        border: 1px solid black;
        border-radius: 25px;
        height: 50px;
        width: 70px;
        line-height: 2.5;
        text-align: center;
    }


#content a#linkNewArticle {
    text-decoration: none;
}

#content #newArticles #artikelLinkInfo {
    text-decoration: underline;
}

/*Gallerij*/
#content ul {
    position: relative;
    right: 15px;
}
#content ul li {
    position: relative;
    width: 29%;
    float: left;
    margin: 2%;
    box-shadow: 3px 3px 10px #787c57;
}

    #content ul li img {
        border: 1px solid black;
        width: 94%;
        margin: 3%;
    }

    #content ul li a {
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        display: inline-block;
        color: black;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }



        #content ul li a:hover {
            background-color: #b6b357;
            color: #edeed8;
        }

    #content ul li p {
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #content ul li span {
        -moz-transition: all .15s ease-in;
        -o-transition: all .15s ease-in;
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in;
        color: black;
        position: absolute;
        right: -20px;
        top: -20px;
        width: 55px;
        height: 55px;
        border: 1px solid;
        border-radius: 30px;
        background-color: white;
        line-height: 55px;
        text-align: center;
        box-shadow: 3px 3px 10px #787c57;
    }

    #content ul li a:hover span {
        background-color: #b6b357;
    }


/*Galerij artikel*/

#content #linkTerug {
    display: block;
    margin-bottom: 60px;
}
#content .gallery {
    float: left;
    width: 243px;
}
#content .gallery img {
    border: 1px solid black;
    width: 238px;
    margin: 1px;
}
#content .gallery .thumbnails img {
    width: 73px;
    margin: 1px;
    vertical-align: top;
    cursor: pointer;
    cursor: hand;
}
#content #artikelInfo {
    margin-left: 265px;
    position: relative;
}
#content #artikelInfo p {
    margin-bottom: 30px;
}
#content #artikelInfo #prijs {
        margin-top: 22px;
        margin-bottom: 0;
    width: 55px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    line-height:2.5;
    text-align: center;
}
#content ol li {
    margin-bottom: 10px;
}

#content ol li:nth-child(5)
{
    margin-top: 25px;
}
    #content ol li:nth-child(odd)
    {
        float: left;
        width: 100px;
    }
    #content ol li:nth-child(even)
    {
        margin-left: 100px;
    }

/*Email form*/
#content #message {
    margin-bottom: 20px;
    font-weight: bold;
}

#content form {
    height: 400px;
    width: 800px;
    position: relative;
}

    #content form div {
        height: 50px;
        position: relative;
    }

        #content form div label {
            display: inline-block;
            width: 150px;
            vertical-align: top;
        }

        #content form div:first-child {
            float: left;
            margin-right: 50px;
            z-index: 1;
        }

        #content form div:nth-child(1) input {
            width: 210px;
        }

        #content form div:nth-child(2) input {
            width: 210px;
        }

        #content form div:nth-child(3) input {
            width: 40%;
        }

        #content form div:nth-child(4) input {
            width: 40%;
        }

        #content form div:nth-child(5) input {
            width: 60%;
        }

        #content form div:nth-child(6) textarea {
            width: 79%;
            height: 150px;
        }

    #content form input.button {
        position: absolute;
        bottom: -10px;
        right: 0;
        padding: 5px;
    }

.field-validation-error {
    color: #ff0000;
    position: absolute;
    top: -20px;
    left: 156px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}
/*footer*/
footer {
        background-color: white;
        padding: 35px 12%;
        border-top: 3px solid #b6b357;
        overflow: auto;
        box-shadow: 0px 500px 0px 500px white;
}
footer section {
    width: 50%;
    float: left;
}
footer section em {
    font-weight: bold;
}
footer section p {
    line-height: 1.2;
}
footer section p img {
    display: none;
}
footer section:last-child p {
    text-align: right;
}
#content .nonMinHeight {
    min-height: unset;
}

#content .nonRadiusBottom {
    border-radius: 15px 15px 0 0;
}