@model List<WebsiteKunstenboetiek.Models.Artikel>

@{
    ViewBag.Title = "Kunstenboetiek - Andere werken";
}
<article>
    <h2>Andere werken</h2>
@if (Model.Any())
{
    <ul>
        @foreach (var artikel in Model)
        {
            <li>
                <img src="@artikel.ArtikelAfbeeldingen.FirstOrDefault().AfbeeldingLink" alt="@artikel.Naam voorbeeldafbeelding" />
                <label>@artikel.Naam</label>
                <span>@artikel.Prijs €</span>
            </li>
        }
    </ul>
}
else
{
    <p>Er zijn nog geen andere werken toegevoegd.</p>
}
    </article>